:root{
  --primary-color: #495E57;
  --primary-color2: #f4ce14;
  --secondary-color: #ee9972;
  --secondary-color2: #fbdabb;
  --secondary-color3: #edefee;
  --secondary-color4: #333333;
}

* {
  padding: 0px;
  margin: 0px;
}

.allComponents * {
  color: black;
}

section {
  padding: 0px 150px;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 10px;
  /* background-color: #282c34; */
}

nav > ul {
  display: flex;
  gap: 30px;
}

nav > ul > li > a {
  font-weight: bold;
}

ul {
  padding:0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#footer {
  display: flex;
  justify-content: space-between;
  background-color: #333333;
  color: black;
  padding-top: 50px;
  padding-bottom: 50px;
}

#footer > img {
  transform: rotate(45deg);
}